dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 40ch;
  text-align: center;
  border-radius: 12px;
  color: $text-color;
  border-color: currentColor;

  svg {
    width: 128px;
    height: 128px;
  }

  .title {
    font-size: 24px;
    font-family: Poppins;
    font-weight: 700;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.dialog--success {
    svg {
      fill: $primary;
    }
  }

  &.dialog--error {
    svg {
      fill: $danger;
    }
  }
}
