#offering {
  padding-block: 96px 128px;

  .icon {
    font-size: 48px;
    display: inline-flex;
    border: thin solid $text-color;
    border-radius: 12px;
    padding: 12px;
    margin-block-end: 20px;
  }

  .offer {
    border-radius: 8px;
    background-color: hsl(120, 24.1%, 98%);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    overflow: hidden;

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      object-position: bottom;
    }

    .content {
      padding: 24px;
    }
  }

  svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: $text-color;
  }

  .content {
    row-gap: 48px;
  }

  a {
    color: $text-color;

    &:hover {
      color: $primary;
    }
  }
}
