$primary: #5d985d;
$text-color: #3a443a;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

img {
  display: block;
}

img,
svg {
  max-width: 100%;
}

body {
  font-family: 'Figtree';
  color: $text-color;
  line-height: 1.5;
}

a {
  &:hover {
    text-decoration: underline;
    color: $primary;
  }
}

hr {
  margin: 0;
  border: 0 solid #e8eaee;
  border-bottom-width: thin;
}

button {
  cursor: pointer;
}

.heading {
  font-family: 'Poppins';
  font-weight: 700;
  line-height: 1.15;

  font-size: 40px;
  color: $text-color;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-block-end: 24px;
  position: relative;

  @media only screen and (min-width: 992px) {
    font-size: 48px;
  }
}

// button {
//   padding: 16px 32px;
//   border-radius: 16px;
//   border: none;
//   transition: all 100ms ease-in;
//   cursor: pointer;
//   background-color: $primary;
//   color: #fff;
// }

input,
textarea {
  transition: all 100ms ease-in;
  border: thin solid #cad0d8;
  border-radius: 12px;
  padding: 8px 12px;

  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px $primary, 0 0 #0000;
  }
}

.control {
  margin-block-end: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.marker {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 1.5;
}

#message {
  resize: vertical;
}

#contact {
  padding-block: 48px 96px;
  background: linear-gradient(180deg, #fff 50%, rgba(93, 152, 93, 0.1) 100%);

  .content {
    row-gap: 48px;
  }
}

.contact-heading {
  font-size: 48px;
  color: $text-color;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-block-end: 24px;

  &::before {
    content: '';
    width: 48px;
    height: 8px;
    background-color: $primary;
    margin-inline-end: 16px;
  }
}

.img-container {
  overflow: hidden;
}

.candles {
  border-radius: 57% 43% 43% 57% / 56% 27% 73% 44%;
  max-height: 528px;
  object-fit: cover;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.submit-btn {
  border-radius: 12px;
}

#reviews {
  padding-block: 96px;
  background-color: $text-color;

  .container {
    margin-top: 32px;
  }

  .review {
    color: #fff;
    position: relative;
    font-size: 20px;

    .ldquo {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 96px;
      color: rgba(255, 255, 255, 0.1);
      line-height: 1;
      transform: translate(-50%, -50%);
    }
  }

  .reviews-heading {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
}

.author {
  display: flex;
  align-items: center;
  margin-top: 8px;

  &::before {
    content: '';
    width: 24px;
    height: 2px;
    background-color: #fff;
    margin-inline-end: 8px;
  }
}

.underline {
  text-decoration: underline;
}

#services {
  padding-block: 96px;
}

.services-heading {
  font-size: 48px;
  color: $text-color;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-block-end: 24px;

  &::before {
    content: '';
    width: 48px;
    height: 8px;
    background-color: $primary;
    margin-inline-end: 16px;
  }
}

.service {
  margin-block-end: 40px;
}

#intro {
  padding-block: 96px;

  .icon {
    font-size: 48px;
    display: inline-flex;
    border: thin solid #cad0d8;
    border-radius: 12px;
    padding: 12px;
    margin-block-end: 20px;
  }

  .intro {
    border-radius: 12px;
    background-color: #fff;
  }

  svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: $text-color;
  }

  .content {
    row-gap: 48px;
  }
}

#workflow {
  padding-block: 96px;
  background-color: #eff5ef;

  .workflow-heading {
    margin-block-end: 32px;
  }

  h3,
  p {
    margin-block-end: 16px;
  }
}

#promo {
  padding-block: 96px;

  .promo-content {
    margin-block-start: 32px;
    row-gap: 48px;
  }

  p {
    margin-block-end: 12px;
  }

  .icon {
    font-size: 48px;
    display: inline-flex;
    border: thin solid #cad0d8;
    border-radius: 12px;
    padding: 12px;
    margin-block-end: 20px;

    svg {
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: #3a443a;
    }
  }
}

#about {
  padding-block: 96px 48px;

  .lead {
    font-size: 1.17em;
  }

  .content {
    row-gap: 48px;
  }

  p {
    margin-block-end: 16px;
  }
}

.about-heading {
  font-size: 48px;
  color: $text-color;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-block-end: 24px;

  &::before {
    content: '';
    width: 48px;
    height: 8px;
    background-color: $primary;
    margin-inline-end: 16px;
  }
}

.about-img {
  border-radius: 57% 43% 43% 57% / 56% 27% 73% 44%;
  max-height: 528px;
  object-fit: cover;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.heading-with-line {
  &::before {
    content: '';
    width: 48px;
    height: 8px;
    background-color: $primary;
    position: absolute;
    left: -64px;
  }
}

.step {
  margin-bottom: 2rem;
  padding: 1.5rem;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
  padding: 16px 32px;
  border-radius: 16px;
  border: none;
  transition: all 100ms ease-in;
  cursor: pointer;
  background-color: $primary;
  color: #fff;
}

@import 'grid';
@import 'header';
@import 'footer';
@import 'screenreader';

// #eff5ef
// #f9fafb
// #e4e4e7
